<div class='form-group'>
    <label for='abbreviation' class='control-label col-sm-4'>Abbreviation</label>

    <div class='col-sm-8'>
        {{input type='text' id='abbreviation' class='form-control' value=item.abbreviation}}
    </div>
</div>
