<div class='form-group'>
    <label for='chapter' class='control-label col-sm-4'>Chapter</label>

    <div class='col-sm-8'>
      <select class="form-controler">
        {{#each chapters.content.content key="@index" as |chapter|}}
          <option value="{{chapter.id}}"  selected={{is-equal item selectedValue}}>{{chapter.name}}</option>
        {{/each}}
      </select>
    </div>
</div>
