<div class='form-group'>
    <label for='chapter' class='control-label col-sm-4'>Chapter</label>

    <div class='col-sm-8'>
        {{view 'select' content=chapters.content.content value=value optionValuePath='content.id' optionLabelPath='content.name' prompt=prompt class='form-control'}}
    </div>
</div>
