<div class='form-group'>
    <label for='place-type' class='control-label col-sm-4'>Character</label>

    <div class='col-sm-8'>
      <select class="form-controler">
        {{#each characters.content.content key="@index" as |character|}}
          <option value="{{character.id}}"  selected={{is-equal item selectedValue}}>{{character.name}}</option>
        {{/each}}
      </select>
    </div>
</div>
