<div class='form-group'>
	<label for='description' class='control-label col-sm-4'>Description</label>

	<div class='col-sm-8'>
		{{textarea type='text' id='description' class='form-control' rows='10' value=item.description}}
	</div>
</div>
