<div class='form-group'>
    <label for='place-type' class='control-label col-sm-4'>Event</label>

    <div class='col-sm-8'>
      <select class="form-controler">
        {{#each events.content.content key="@index" as |event|}}
          <option value="{{event.id}}"  selected={{is-equal item selectedValue}}>{{event.name}}</option>
        {{/each}}
      </select>
    </div>
</div>
