<div class='form-group'>
    <label for='image' class='control-label col-sm-4'>Image</label>

    <div class='col-sm-8'>
        {{input type='text' id='image' class='form-control' value=item.image}}
    </div>
</div>
