<div class='form-group'>
    <label for='map' class='control-label col-sm-4'>Map</label>

    <div class='col-sm-8'>
      <select class="form-controler">
        {{#each maps.content.content key="@index" as |map|}}
          <option value="{{map.id}}"  selected={{is-equal item selectedValue}}>{{map.name}}</option>
        {{/each}}
      </select>
    </div>
</div>
