<div class='form-group'>
    <label for='map' class='control-label col-sm-4'>Map</label>

    <div class='col-sm-8'>
        {{view 'select' content=maps.content.content value=value optionValuePath='content.id' optionLabelPath='content.name' prompt=prompt class='form-control'}}
    </div>
</div>