<div class='form-group'>
    <label for='place-type' class='control-label col-sm-4'>Place</label>

    <div class='col-sm-8'>
      <select class="form-controler">
        {{#each places.content.content key="@index" as |place|}}
          <option value="{{place.id}}"  selected={{is-equal item selectedValue}}>{{place.name}}</option>
        {{/each}}
      </select>
    </div>
</div>
