<div class='form-group'>
    <label for='place-type' class='control-label col-sm-4'>Place Type</label>

    <div class='col-sm-8'>
      <select class="form-controler">
        {{#each placeTypes.content.content key="@index" as |placeType|}}
          <option value="{{placeType.id}}"  selected={{is-equal item selectedValue}}>{{placeType.name}}</option>
        {{/each}}
      </select>
    </div>
</div>
