<div class='form-group'>
    <label for='sequence' class='control-label col-sm-4'>Sequence</label>

    <div class='col-sm-8'>
        {{input type='number' id='sequence' class='form-control' value=item.sequence}}
    </div>
</div>
