<div class='form-group'>
    <label for='universe' class='control-label col-sm-4'>Universe</label>

    <div class='col-sm-8'>
        {{view 'select' content=universe.content.content value=value optionValuePath='content.id' optionLabelPath='content.name' prompt=prompt class='form-control'}}
    </div>
</div>
