/* Put your CSS here */
html, body {
    margin: 30px 0;
}

svg path.other-places {
    fill: rgba(0, 255, 0, 0.5);
    stroke: rgba(0, 0, 0, 0.5);
}

svg circle.other-places {
    fill: rgba(0, 255, 0, 0.5);
    stroke: rgba(0, 0, 0, 0.5);
}
