{{partial 'system/nav'}}

<h2 class='well'>Welcome to the Mapster CMS!</h2>

<ul class='list-group'>
    {{#each entity in model.entities}}
        {{#link-to 'entity' entity.url class='list-group-item' tagg='li'}}{{entity.plural}}{{/link-to}}
    {{/each}}
</ul>
