{{partial 'system/nav'}}

<h2 class='well'>Welcome to the Mapster CMS!</h2>

<div class='list-group'>
    {{#each entity in model.entities}}
        {{#link-to 'entity' entity.url class='list-group-item'}}
        	{{entity.plural}}
        	<span class='pull-right'>{{{entity.iconDisplay}}}</span>
        {{/link-to}}
    {{/each}}
</div>
